:root{background-color: white;}

.container{display: grid;

        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows:1fr 3fr 3fr 1fr 1fr;
        grid-gap: 10px;

        min-height: 250px;}

#header{
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: crimson;
}
#sidebar{

    grid-column: 1/2;
    grid-row: 2/5;
    background-color: chartreuse;
}

#main{
    grid-column: 2/3;
    grid-row: 2/4;


    background-color: gold;

}
#footer{
    grid-column: 1/5;
    grid-row: 5/6;
    background-color: hotpink;

}

#section{

    grid-column: 3/4;
    grid-row: 2/3;

    background-color: mediumturquoise;
}

#article{
    grid-column: 3/4;
    grid-row: 3/4;

    background-color: olivedrab;


}

#main-footer{

    grid-column: 2/5;
    grid-row: 4/5;

    background-color: royalblue;
}
